#################################
# Visual Studio specific files
#################################
**/*.sln
**/*.vcxproj

**/*.vcxproj.user
**/*.vsidx
**/read.lock
**/*.filters

**/*.db
**/*.db-shm
**/*.db-wal
**/*.opendb

.vs/*

#################################
# compiles/objects
#################################
bin/*
bin-ints/*

